* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* For background image */

#img-front-page {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    width: 75vw;
    height: 53rem;
}

/* for lines */

/* header text */

#header-txt .logo {
    color: white;
    display: flex;
    align-items: baseline;
}

#header-txt .logo h1 {
    font-size: 15rem;
    font-weight: 700;
}

#header-txt .context {
    width: fit-content;
    color: white;
    font-weight: 500;
    padding: 0rem 4rem;
}

#header-txt .context p {
    font-size: 1.3rem;
}

#header-txt .logo p {
    position: relative;
    top: 20px;
    font-weight: 700;
    font-size: 1.5rem;
}

#images-group {
    margin-top: 3rem;
}

#images-group img {
    width: 8rem;
    margin: 0rem 0rem;
}

.trends {
    margin-top: 5rem;
    padding: 0% 50%;
}

.trends h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: fit-content;
    font-size: 3rem;
    color: white;
    font-weight: 700;
    border: 7px solid white;
    background-color: rgba(255, 94, 0, 0.541);
}


/* cyan section */


#cyan-sec-block {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 40%, rgba(1, 255, 234, 0.692) 40%, rgba(1, 255, 234, 0.425) 100%);
    position: absolute;
    top: 40rem;
    width: 100%;
    margin-left: 10px;
    border-left: 10px solid white;
    padding: 1rem 2rem;
}

#cyan-sec-block .cyan-header {
    color: white;
}

#cyan-sec-block .cyan-header h1 {
    color: rgba(255, 255, 255, 0.671);
    font-size: 12rem;
    font-weight: 800;
    line-height: 8rem;
}

#cyan-sec-block .cyan-header h2 {
    font-size: 7rem;
    font-weight: 300;
    padding-left: 5px;
}


#cyan-sec-block .cyan-header h5 {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding-left: 15px;
}

.block-cyan {
    width: 100vw;
}

#txtOftheCyan h1 {
    font-size: 10rem;
}

#header {
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
}

#txtOftheCyan {
    position: relative;
    top: 0px;
    color: white;
    text-align: right;
    font-size: 1.1+rem;
}

.address {
    margin-top: 25px;
}

.address h6 {
    margin: 10px 0px 30px 1px;
    color: white;
    font-size: 1rem;
}

.address h6 i {
    color: white;
    margin: 0px 10px 0px 0px;
}

#icons {
    color: white;
    padding: 10px;
}

#icons i {
    font-size: 6rem;
}

#Sitelogo {
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
}







/* new section  */

.main-container {
    position: relative;
    width: 91.8vw;
    left: 4rem;
}


.lines div:nth-child(1),
.lines div:nth-child(2) {
    position: relative;
    width: 100%;
    margin: 10px 0px;
    background-color: white;
    padding: 5px 5px;
}

.lines div:nth-child(2) {
    width: 10%;
}


.cyan-section {
    z-index: 1;
    border-left: 5px solid white;
}

.cyan-header {
    color: white;
}

.cyan-header h1 {
    font-size: 13rem;
    line-height: 9rem;
    color: rgba(255, 255, 255, 0.685);
}

.cyan-header h2 {
    font-size: 5rem;
    font-weight: 200;
    padding: 0px 10px;
}


.cyan-header h5 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0px 13px;
}

div#cyan-side-text {
    text-align: right;
}

div#cyan-side-text h1 {
    font-size: 10rem;
    color: white;
}

div#cyan-side-text p {
    text-align: justify;
    color: white;
}

#cyan-left-side .address {
    margin-top: 10rem;
}

#cyan-left-side {
    margin: 1rem 0rem;
}

.txt {
    color: white;
    margin-top: 20px;
}

.orange {
    position: absolute;
    background-color: rgba(255, 136, 0, 0.712);
    top: -10px;
    padding: 34rem 20rem;
    left: 0px;
}

.cyan {
    position: absolute;
    background-color: rgba(0, 255, 255, 0.568);
    right: 0px;
    bottom: 0rem;
    z-index: 0;
    padding: 28rem 20rem;
}

@media screen and (max-width: 1100px) {
    .cyan-header h1 {
        font-size: 10rem;
    }
}

@media screen and (max-width: 998px) {
    .main-container {
        position: relative;
        width: 91.8vw;
        left: 0rem;
    }

    .trends {
        margin-top: 5rem;
        padding: 0% 14rem;
    }

    .lines div:nth-child(1) {
        width: 93.4vw;
    }

    .cyan {
        padding: 27rem 15rem;
        right: -20px;
        bottom: -20px;
    }

    .cyan-header h1 {
        font-size: 8rem;
    }

    div#cyan-side-text h1 {
        font-size: 8rem;
    }
}