* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* background image */

#main-section img{
    float: right;
    z-index: 0;
    position: relative;
    background-position: center;
    width: 80vw;
    height: 100vh;
    background-repeat: no-repeat;
}

