* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* For background image */

#img-front-page {
    position: relative;
    z-index: -1;
    float: right;
    width: 80vw;
    height: 100vh;
}

/* for lines */
.lines div:nth-child(1),
.lines div:nth-child(2) {
    background-size: 100vw;
    width: 100vw;
    margin: 10px 0px;
    background-color: white;
    padding: 5px 5px;

}

.lines div:nth-child(2) {
    width: 10vw;
}

/* header text */

#header-txt .logo{
    color: white;
    display: flex;
    align-items: baseline;
}

#header-txt .logo h1 {
    font-size: 5rem;
}

#header-txt .logo p {
    position: relative;
    top: 30px;
    font-size: 2rem;
}


@media screen and (min-width: 1350) {}

@media screen and (min-width: 2350) {}


@media screen and (max-width: 1350px) {}

@media screen and (max-width: 998px) {
    #img-front-page {
        width: 90vw;
        height: 100vh;
    }
}

@media screen and (max-width: 776px) {
    #img-front-page {
        width: 100vw;
        height: 85vh;
    }
}

@media screen and (max-width: 559px) {
    #img-front-page {
        width: 90vw;
        height: 85vh;
    }
}

@media screen and (max-width: 369px) {}